# This is the freezed dependencies, Init by 'pip freeze'
# If you want add more dep. Please add here and your comments.

# Required Lib
aliyun-python-sdk-core-v3==2.5.5 # 阿里云OpenAPI核心SDK
aliyun-python-sdk-ecs==4.6.0 # 阿里云OpenAPI ECS相关SDK
coverage==4.4.2 # 测试覆盖率
Django==2.0.1 # Web框架
django-qiniu-storage==2.3.1 # 七牛CDN存取驱动
Pillow==5.0.0 # 图片处理 Python Imaging Library
mysqlclient==1.3.12 # Mysql客户端驱动
# pycrypto==2.6.1 # Python Cryptography Toolkit
# requests==2.18.4 # Python HTTP for Humans

# Optional Lib 
pur==4.0.3 # 版本管理（生产环境不建议使用） Update packages in a requirements.txt file to latest versions.

# Dev Tools
# guessit==2.1.4 # 视频信息推断 a library for guessing information from video filenames
# idna==2.6 # Internationalized Domain Names in Applications
# pike==0.1.1 # Lightweight plugin management system for Python
# rebulk==0.9.0 # Define simple search patterns in bulk to perform advanced matching on any string.
# six==1.11.0 # Python 2 and 3 compatibility utilities
# urllib3==1.22 # HTTP library with thread-safe connection pooling, file post, and more.
# alchemize==0.9.0 # 数据解析 lib for serialization and deserialization
# aumbry==0.6.6 # 配置文件管理
# babelfish==0.5.5
# certifi==2017.11.5 # providing Mozilla's CA Bundle.
# chardet==3.0.4 # 编码查看 Universal encoding detector for Python 2 and 3
# click==6.7 # A simple wrapper around optparse for powerful command line utilities
# colorama==0.3.9 # Cross-platform colored terminal text.
# python-dateutil==2.6.1 # Extensions to the standard Python datetime module
# pytz==2017.3 # World timezone definitions, modern and historical
# qiniu==7.2.0