{% extends 'manage/base.html' %}
{% block title %}
<title>Vikings | 首页</title>
{% endblock %}
{% block index %}active{% endblock %}

{% block body %}

    <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title" style="text-align: center; height: 80px">
                <strong>欢迎 {{ username }} 进入 Vikings 管理系统 </strong>(v0.3) 
            </div>
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>Vikings 介绍
                        <span class="close" data-close="note"></span>
                    </h3>
                    <p style="font-family: 'Microsoft YaHei'"> 
                    Vikings Devops Plateform 是一个基于Django框架开发的一款自动化运维平台，目前处于alpha版本，功能主要包含:...
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="am-icon-server"></i>
                        </div>
                        <div class="details">
                            <div class="number"> CMDB管理 </div>
                        </div>
                        <a class="more" href="/manage/iaaslist"> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="am-icon-keyboard-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 自动化部署 </div>
                        </div>
                        <a class="more" href="/manage/autodeploy"> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>

                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat red">
                        <div class="visual">
                            <i class="am-icon-bar-chart-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 数据统计 </div>
                        </div>
                        <a class="more" href="/manage/index" onclick='alert_to_do()'> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="am-icon-file-o"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 日志管理 </div>
                        </div>
                        <a class="more" href="#" onclick='alert_to_do()'> 查看
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
