{% extends 'manage/base.html' %}

{% block title %}
    <title>Vikings | 地区列表</title>
{% endblock %}

{% block regionlist %}active{% endblock %}

{% load manage_extras %}

{% block body %}
    <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> &nbsp; {{indexname}}
                    </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="table-type">地区编码</th>
                                            <th class="table-title">地区名称</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in region_list %}
                                        <tr>
                                            <td>{{ item.RegionId }}</td>
                                            <td>{{ item.LocalName }}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a href="/manage/zonelist/?region={{ item.RegionId }}&index={{ index|addstr:item.LocalName  }}&sp={{ sp }}">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only">查看区域</button>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                               <hr>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
{% endblock %}
